<!DOCTYPE xml>
<beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans">
	<authentication-manager >
	    <authentication-provider ref="authProvider"></authentication-provider>  
	</authentication-manager>

	<bean id="authProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
	  <property name="userDetailsService" ref="userDetailsServiceImpl" />
	  <property name="passwordEncoder" ref="encoder" />
	</bean>
	<!-- For hashing and salting user passwords -->
	<bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
</beans>